.margin {
    margin-right: 10%;
    margin-left:10%;
}
.center-content{
    align-content: center;
    text-align: center;
}
h1, h2, h3, h4, p, a{
    font-family: "Gill Sans", sans-serif;
}

/* Header Styling */
.header-left {
    float: left;
}
.logo{
    padding: 1em;
}
.header-right {
    clear: both;
    padding-top: 5em;
    margin-right:7em;
}
.header-text {
    color: #0c0c0c;
    font-size: 1.3em; 
}
/*Nav Styling*/
.nav{
    background-color: #475463;
    text-align: center;
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 20px;
  }
.nav-li {
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
    background-color: #0c0c0c;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-li a, .nav-li a:hover{
    font-size: 1.2em;
    text-decoration:none;
    padding-right: 50px;
    padding-left: 50px;
} 
.selected{
    background-color: #f7f5e1;
}
.sel-text{
    color: #0c0c0c;
}
/*End Nav Bar*/
/*Body Styling*/
.github-text{
    color: #f7f5e1;
    display: inline-block; /*removes underline on hover!*/
    text-decoration: none;
    padding-top: 5.5%;
}
.github-text:hover{
    color:#C4655A;
}
.github-logo{
    padding:10px 5px 5px 30px;
}
.view-github{
    background-color: #0c0c0c;
    margin-bottom: 5px;
}