
/* Header Styling */
.header-left {
    float: left;
}
img{
    padding: 1em;
    border-radius: 25px;

}
.header-right {
    clear: both;
    text-align: center;
    padding-top: 5em;
    margin-right:7em;
}
.header-main {
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 3px;
}
.header-text {
    color: #0c0c0c;
    font-size: 1.3em;
    font-family: "Gill Sans", sans-serif;
}
/*Nav Styling*/
.nav{
    margin-right: 10%;
    margin-left: 10%;
    background-color: navy;
    margin-bottom: 0;
}
/*Intro Section Styling*/
.intro-main{
    clear: both;
    text-align: center;
    background-image: url('https://pixnio.com/free-images/2019/01/15/2019-01-15-10-07-40-1200x800.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-right: 10%;
    margin-left: 10%; 
    padding-top: 3%;
}
.intro-text-container{
    background-color: black;
    opacity: 0.85;
    margin-left: 15%;
    margin-right: 15%;
    border-radius:6px;
}
.intro-head{
    font: bold;
    font-size: 1.2em;
    font-family: "Gill Sans", sans-serif;
    color: lightskyblue;
}
.intro-body-text{
    font-size: 1em;
    font-family: "Gill Sans", sans-serif;
    color: lightgray;
}
