
/* Header Styling */
.header-left {
    float: left;
}
img{
    padding: 1em;
    border-radius: 25px;

}
.header-right {
    clear: both;
    text-align: center;
    padding-top: 5em;
    margin-right:7em;
}
.header-main {
    background: #4D4DFF;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 3px;
}
.header-text {
    color: white;
    font-size: 1.3em;
    font-family: "Gill Sans", sans-serif;
}
/*Intro Section Styling*/
.intro-main{
    background: red;
    margin-right: 10%;
    margin-left: 10%;
}
.intro-left{
    background: blue;
    padding-top: 1em;
    padding-left: .5em;
    padding-right: .5em;
}